{% extends 'base.html' %}
{% block content %}
    <h1>We are working on this website now.</h1>
    <p>GDG Xi'an is a technical community of Google. You can get information from <a href="https://plus.google.com/114935565019424673192">GDG Xi'an</a>.</p>
    <p>My idea for this webiste is to build it with Google App Engine.</p>
    <p>If you are interested, please contribute your talent to us!.</p>
    <p>Source Code of this website is on Github: <a href="https://github.com/GDG-Xian/gdg-xian">https://github.com/GDG-Xian/gdg-xian</a>, fork it, and submit your pull request.</p>
    <p>Or, if you have any other idea, feel free to contact us: david.scriptfan#gmail.com(You know, change # to @)</p>
    <div>
        {% for post in posts %}
            <p>{{ post.content | markdown | safe }}</p>
        {% endfor %}
    </div>
{% endblock %}